# ChatDACS配置文件

#系统配置和开关，根据你的需要改动
System:
  #web端自动聊天开关:
  chat_swich: true

  #qqBot小夜开关，需要自行配置以接入go-cqhttp，反向 HTTP POST 于 127.0.0.1:80/bot:
  conn_go_cqhttp: false

  #接入哔哩哔哩直播聊天开关:
  Now_On_Live: false

  #web端使用的本机端口，如果有冲突的话请尝试更改:
  web_port: 80

  #监听go_cqhttp的反向http post服务，如果有冲突的话请尝试更改:
  go_cqhttp_service: "/bot"

  #go_cqhttp的http接口地址，如果有冲突的话请尝试更改:
  go_cqhttp_api: "127.0.0.1:5700"

#接口密钥配置
ApiKey:
  #天行接口key
  Tiankey: ""

  #卡特实验室接口key
  sumtkey: ""

  #百度应用id
  baidu_app_id: ""

  #百度接口key
  baidu_api_key: ""

  #百度接口密钥
  baidu_secret_key: ""

#qqBot配置
qqBot:
  #qqBot使用的qq帐号:
  bot_qq: "1648468212"

  #qqBot小夜的管理员列表，管理员有权执行管理员指令，且第一位管理员将会处理用户邀请小夜加群的请求:
  qq_admin_list: ["1005056803", "2418754147", "38263547"]

  #私聊开关:
  private_service_swich: false

  #限制分词权重数量，设置得越低，更侧重大意，回复更贴近重点，但容易重复相同的回复，
  #设置得越高，回复会更随意、更沙雕，但更容易答非所问:
  topN: 5

  #qqBot小夜回复几率，单位是%，可通过 /admin_change_reply_probability 指令更改:
  reply_probability: 1

  #qqBot小夜复读几率，单位是%，可通过 /admin_change_fudu_probability 指令更改:
  fudu_probability: 1

  #qqBot小夜抽风几率，随机抽风舔狗，单位是‰:
  chaos_probability: 0

  #福利姬指令列表:
  req_fuliji_list: ["福利姬", "买家秀"]

  #二次元图指令列表:
  req_ECY_list: ["来点二次元", "二次元"]

  #今日不带套指令列表:
  req_no_trap_list: ["今日不带套", "今日不戴套", "今天不带套", "今天不戴套"]

  #qq侧接收到的图片保存与转发开关，虽然经常可以收到一些好康的图，但是非常占硬盘空间:
  qqimg_to_web: false

  #最大共存地雷数:
  max_mine_count: 3

  #教学系统的黑名单:
  black_list_words:
    [
      "群:",
      "群：",
      "你国",
      "批",
      "kp",
      "kk",
      "中国",
      "一国两制",
      "章沛麒",
      "援交",
      "官网",
      "煞笔",
      "支付宝",
      "做爱",
      "苟",
      "nigg",
      "管理员",
      "是谁",
      "滚",
      "弱智",
      "傻",
      "骚",
      "操",
      "屁眼",
      "坟",
      "妈",
      "滚",
      "鸡",
      "肉便",
      "便器",
      "废物",
      "屎",
      "脑残",
      "垃圾",
      "孙子",
      "荀",
      "习近",
      "江泽",
      "近平",
      "泽民",
      "果喵",
      "shabi",
      "贱",
      "抽心",
      "小日",
      "抽卡历史",
      "支付",
      "付宝",
      "状态",
      "红包",
      "领取",
      "膜法",
      "学习一个",
      "吼啊",
      "钦定",
      "旁的意思",
      "蛤",
      "奉告",
      "大新闻",
      "1s",
      "高到",
      "谈笑风生",
      "兹辞",
      "支不支持",
      "我是支持的",
      "excited",
      "exciting",
      "赛艇",
      "一秒",
      "两秒",
      "续命",
      "香港",
      "长者",
      "naive",
      "naïve",
      "angry",
      "我很抱歉",
      "西方记者",
      "我可以说",
      "搞的这个",
      "董先生",
      "连任",
      "主席",
      "也支持他",
      "彭定康",
      "你也有责任",
      "钦点",
      "铁骑",
      "稍有常识的人",
      "螳臂当车",
      "苟利国家生死以",
      "苟利",
      "生死以",
      "岂因祸福避趋之",
      "岂因祸福",
      "避趋",
      "闷声",
      "图样",
      "图森",
      "着风",
      "得风",
      "得雨",
      "是雨",
    ]

#杂项配置
Others:
  #哔哩哔哩直播间id:
  blive_room_id: "49148"

  #初始化随机cos上限，可以自己调整:
  cos_total_count: 99999
